---
import Image from "astro/components/Image.astro";
import { getLangFromUrl } from "../utilities/getLangFromUrl";
import { useTranslatedPath } from "../utilities/useTranslatedPath";

interface Props {
  title: string;
  description: string;
  colorFrom: string;
  colorTo: string;
  image?: ImageMetadata;
  href: string;
}

const { title, description, colorFrom, colorTo, image, href } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<a
  href={translatePath(href, lang)}
  class="w-[clamp(320px,90vw,360px)] aspect-[9/11] rounded-[8px] cursor-pointer drop-shadow-2xl flex flex-col items-center mobile:p-[6%] desktop:p-[2%] justify-between tablet:hover:-translate-y-4 tablet:transition-transform"
  style={`background: radial-gradient(circle at top, ${colorFrom} 0%, ${colorTo} 100%)`}
>
  {
    image && (
      <Image
        src={image}
        alt={`${title} Icon`}
        class="mt-[12%] w-[70%] aspect-square border-primary-text border-4 rounded-[8px]"
        decoding="async"
        loading="eager"
      />
    )
  }

  <div>
    <h3 class="text-primary-text font-poppins-semibold text-left w-full text-[30px]">
      {title}
    </h3>
    <p class="text-paragraph font-poppins-light text-left text-[16px]">
      {description}
    </p>
  </div>
</a>
