---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { getLangFromUrl } from "../utilities/get-lang-from-url.utility";
import { METADATA } from "../configuration/metadata.configuration";
const lang = getLangFromUrl(Astro.url);
import "../styles/global.css";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />

    <title>{METADATA[lang].title}</title>
    <meta name="description" content={METADATA[lang].description} />

    <meta name="og:description" content={METADATA[lang].description} />
    <meta name="og:title" content={METADATA[lang].title} />
    <meta name="og:image" content={METADATA[lang].image} />
    <meta name="og:url" content={METADATA[lang].url} />
    <meta name="og:type" content="website" />

    <meta name="twitter:description" content={METADATA[lang].description} />
    <meta name="twitter:title" content={METADATA[lang].title} />
    <meta name="twitter:image" content={METADATA[lang].image} />
    <meta name="twitter:domain" content="ezetorc.vercel.app" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={METADATA[lang].url} />

    <ClientRouter />
  </head>
  <body>
    <Header />

    <main
      class="flex flex-col min-w-[320px] w-full max-w-[1280px] mx-auto mobile:px-4 pb-[50px] desktop:pb-[120px]"
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>
